<section class="main-content">
  <div class="image-container">
    <!-- <img src="https://www.shutterstock.com/image-vector/doodle-seamles-pattern-programmer-items-260nw-1879170649.jpg" alt="Image" /> -->
  </div>

  <div class="content-container">
    <h1>Welcome to ProjectPilot</h1>
    <p class="intro-text">
      Take control of your projects with **ProjectPilot**—an advanced 
      project management system !!
    </p>

    <a routerLink="/projects" routerLinkActive="active" class="cta-button">Start here</a>
  </div>
</section>
