$black-col: black;
$white-col: white;

.main-content {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 40px; 
  padding: 50px;
  min-height: 500px;
  background-image: url("https://img.freepik.com/premium-vector/abstract-dark-background-zeros-ad-ones-shades-gray-colors_444390-3371.jpg?semt=ais_hybrid");
  background-size: cover;

  // Adjust the order of the containers
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    order: 1; // Move to the left
  }

  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2; // Move to the right
  }
}

@media (max-width: 1024px) {
  .main-content {
    flex-direction: column; 
    padding: 30px;

    .content-container, .image-container {
      order: unset; 
    }
  }
}


.content-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: $white-col;
  // text-transform: uppercase; 
}

.intro-text {
  font-size: 1.3rem;
  color: $white-col;
  line-height: 1.6;
  margin-bottom: 30px; 
}

.cta-button {
  padding: 15px 30px;
  background-color: rgb(187, 187, 187);
  color: $black-col;
  text-decoration: none;
  border-radius: 5px;
  width: 130px;
  font-weight: bold;
  text-transform: uppercase; 
  font-size: 1rem;
  letter-spacing: 1px;
  transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
  background-color: black;
  color: $white-col;
  transform: translateY(-2px);
}

.cta-button:active {
  transform: translateY(1px); 
}

@media (max-width: 1024px) {
  .main-content {
    flex-direction: column; 
    padding: 30px;
  }

  .image-container {
    margin-bottom: 30px; 
  }

  .content-container h1 {
    font-size: 2rem; 
  }

  .intro-text {
    font-size: 1.1rem;
  }

  .cta-button {
    width: 120px; 
  }
}

@media (max-width: 768px) {
  .main-content {
    padding: 20px;
  }

  .image-container img {
    max-width: 100%; 
  }

  .content-container h1 {
    font-size: 1.8rem; 
  }

  .intro-text {
    font-size: 1rem; 
    }

  .cta-button {
    width: 140px; 
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 15px;
  }

  .content-container h1 {
    font-size: 1.5rem; 
  }

  .intro-text {
    font-size: 0.95rem;
  }

  .cta-button {
    width: 130px;
  }
}
