*{
  font-family: "Poppins", Arial, sans-serif; 

}
  .gradient-custom {
    /* fallback for old browsers */
    background: #c8c4f1;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(232, 232, 245), rgb(188, 198, 219));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(218, 217, 233), rgb(161, 182, 218));
  }

  .log-card{
    color:black;
    background-color: #e5e9f0;
  }
  .error-message{
    color: red;
  }

  .logbtn:hover{
    background-color: rgb(74, 138, 240);

  }